<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Outlook2019AutomationWinAppDriver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Outlook2019AutomationWinAppDriver.Properties.Settings>
            <setting name="TimeToWaitAfterLaunch" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeForImplicitWait" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WinAppDriverIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="WinAppDriverPort" serializeAs="String">
                <value>4723</value>
            </setting>
            <setting name="TimeForControLSpecificWait" serializeAs="String">
                <value>10</value>
            </setting>
        </Outlook2019AutomationWinAppDriver.Properties.Settings>
    </userSettings>
</configuration>